ul.nav-bar li a {
    position: relative;
    z-index: 10;
    padding: 8px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

ul.nav-bar li a::before {
    content: "";
    position: absolute;
    left: 0px;
    background-color: #aaa;
    width: 0px;
    height: 100%;
    z-index: -1;
    transition: 0.3s;
}

ul.nav-bar li a.active::before {
    width: 5px;
}   

ul.nav-bar li a:hover::before {
    width: 100%;
    
}
ul.nav-bar li a:hover {
    color: rgb(255, 255, 255);
}

ul.social-media li a {
    transition: 0.3s;
}

ul.social-media li:hover {
    transform: translateY(-5px);
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    /* width: 10px; */
    border-radius: 5px;
    background-color: #88888899;
}

::-webkit-scrollbar-track {
    /* width: 5px; */
    background-color: #aaaaaa55;
}

.head-section {
    position: relative;
    -webkit-text-fill-color: rgb(0, 0, 0);
    /* -webkit-text-stroke: 0px white; */
}

.head-section::before {
    content: attr(data-text);
    position: absolute;
    font-size: 50px;
    font-weight: 800;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1.3);
    opacity: 0.3;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #88888899;
    transition: 0.3s;
    text-transform: uppercase;
}


.head-section:hover:before {
    opacity: 0.8;
    transform: translate(-50%, -50%) scale(1);
}