.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.txtTol {
    opacity: 0;
    transition: 0.3s;
    text-transform: capitalize;
}


a.btn-git:hover .txtTol {
    opacity: 1;
}

.proj:hover .content-proj {
    bottom: 0%;
    opacity: 1;
}

.text-head {
    -webkit-text-stroke: 1px #11111199;
    -webkit-text-fill-color: transparent;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;
    transition: 0.3s;
    overflow: hidden;
    width: fit-content;  
    z-index: 10;  
}

.text-head::before {
    content: "ALL WORKS";
    position: absolute;
    -webkit-text-stroke: 0;
    -webkit-text-fill-color: rgb(72, 67, 67);
    left: 0%;
    transition: 0.3s;
    z-index: -1;
    opacity: 0;
    transform: scale(2);
}

.text-head:hover::before {
    transform: scale(1);
    opacity: 1;
}